In [58]:
# HYPOTHESIS Testing # Assignment_3
# Q.1 A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import norm

In [59]:
# load the dataset
data=pd.read_csv("D:\Cutlets.csv")
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [60]:
unitA=pd.Series(data.iloc[:,0])
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [61]:
unitB=pd.Series(data.iloc[:,1])
unitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [62]:
# 2 sample 2 tail test: stats.ttes_ind(array1,array2) 
p_value=stats.ttest_ind(unitA,unitB)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [63]:
p_value[1]

0.4722394724599501

In [64]:
# compare p_value with a=0.05 (At 5% significance level)

In [65]:
#Q.2  A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
#   Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.
 
import pandas as pd
import numpy as np
from scipy import  stats
from scipy.stats import norm

In [66]:
data=pd.read_csv("D:\LabTAT.csv")
data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [67]:
#anova ftet statistics:stats.f_oneway(column1,column2,column3,column4)
p_value=stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [68]:
p_value[1]  # compare it with a= 0.05

2.1156708949992414e-57

In [69]:
# Q.3  Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.
import pandas as pd
from scipy import stats as stats
import numpy as np

In [70]:
data=pd.read_csv("D:\BuyerRatio.csv")
data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [71]:
data_table=data.iloc[:,1:6]
data_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [72]:
data_table.values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [73]:
val=stats.chi2_contingency(data_table)
val

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [74]:
type(val)

scipy.stats.contingency.Chi2ContingencyResult

In [75]:
no_of_rows=len(data_table.iloc[0:2,0])
no_of_columns=len(data_table.iloc[0,0:4])
degree_of_f=(no_of_columns-1)
print('degree of freedom=',degree_of_f)

degree of freedom= 3

In [76]:
Expected_value=val[3]
Expected_value

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [77]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2/e for o,e in zip(data_table.values,Expected_value)])
chi_square_statestic=chi_square[0]+chi_square[1]
chi_square_statestic

1.5152956451130446

In [78]:
critical_value=chi2.ppf(0.95,3)
critical_value

7.814727903251179

In [79]:
if chi_square_statestic >= critical_value:
     print("dependent,reject H0")
else:
        print("independent, fail to reject H0")

independent, fail to reject H0

In [80]:
pvalue=1-chi2.cdf(chi_square_statestic,3)
pvalue

0.6787446296467897

In [81]:
if pvalue <=0.05:
    print("dependent, reject H0")
else:
    print("independent, fail to reject H0")

independent, fail to reject H0

In [90]:
# Q.4 TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.

import pandas as pd
from scipy import stats as stats
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [93]:
custom=pd.read_csv("D:\Costomer+OrderForm.csv")
custom.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [95]:
print(custom["Phillippines"].value_counts(),custom["Indonesia"].value_counts(),custom["Malta"].value_counts(),custom["India"].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [97]:
observed_data=([[271,267,269,280],[29,33,31,20]])
observed_data

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [101]:
stat,p,dof,expected=chi2_contingency([[271,267,269,280],[29,33,31,20]])
stat,p

(3.858960685820355, 0.2771020991233135)

In [103]:
print("dof=%d" %dof)
print(expected)

dof=3
[[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [108]:
alpha=0.05
prob=1-alpha
critical=chi2.ppf(prob,dof)
print("probability=%.3f, critical=%.3f,stat=%3f" % (prob, critical, stat))
if abs(stat) >= critical:
    print("dependent (reject H0),variables are related")
else:
    print("independent(fail to reject h0,variable are not rejected")

probability=0.950, critical=7.815,stat=3.858961
independent(fail to reject h0,variable are not rejected

In [109]:
print("significance=%.3f,p=%.3f"%(alpha,p))
if p<= alpha:
    print("dependent , reject h0")
else:
    print("Independent, fail to reject h0")

significance=0.050,p=0.277
Independent, fail to reject h0